<div class="avatar" [class]="'avatar--' + size">
  <img
    *ngIf="showImage"
    [src]="src"
    [alt]="name"
    class="avatar__img"
    (error)="onImgError()"
  />
  <span
    *ngIf="!showImage"
    class="avatar__initials"
    [style.background-color]="bgColor"
  >
    {{ initials }}
  </span>
  <span
    *ngIf="status !== null"
    class="avatar__status"
    [class.avatar__status--online]="status === 'online'"
    [class.avatar__status--offline]="status === 'offline'"
    [class.avatar__status--away]="status === 'away'"
  ></span>
</div>
